html body {
  display: flex;
  background-color: slategray;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#footer {
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: 40px;
  background-color: gold;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}

.actor-container {
  padding: 20px;
  background-color: lightcoral;
  border-radius: 8px;
}

.actor-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.customer-title {
  margin: 30px 5% 2%;
  font-family: "Cinzel", serif;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(255, 215, 0, 1);
}

.customer-filter-title {
  font-family: "Cinzel", serif;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.customer-history-table {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 90%;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 5%;
}

.data-grid {
  border: 4px solid #ccc;
  border-radius: 4px;
  margin: 2% 5% 3%;
  background-color: lightsteelblue;
}

.MuiDataGrid-columnHeader {
  background-color: gold;
}

.data-grid p {
  display: flex;
  align-self: center;
  margin-top: 2px;
}

.customer-textfield .MuiInputLabel-root {
  color: gold;
}

.customer-textfield
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: gold;
}

.customer-textfield .MuiInputLabel-root.Mui-focused {
  color: gold;
}

#navbar-tooltip {
  margin-left: 8px;
}

.nav {
  background-color: gold;
}

.nav .nav-brand {
  font-family: "Bebas Neue", Cinzel;
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin: 14px 5% 14px;
}

#elegant {
  width: 30%;
  height: 5%;
  margin-right: 21%;
}

.nav .nav-link {
  background-color: black;
  margin: 2px 0px 2px;
  border-radius: 10px;
  padding-left: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  color: gold;
}

.nav .nav-link:hover {
  color: whitesmoke;
}

.css-16mfp94-MuiTablePagination-root .MuiTablePagination-toolbar {
  align-items: baseline;
}

.progbar {
  width: 80%;
  margin-left: 10%;
  margin-top: 20%;
  margin-bottom: 5%;
}

.carousel-item img {
  object-fit: cover;
}

.carousel {
  max-width: 100%;
  max-height: 100%;
  margin: 0%;
}

.carousel-link {
  border-radius: 6px;
  padding: 6px;
  background-color: black;
  color: gold;
}

#horse1 {
  padding-right: 1%;
}

#horse2 {
  margin-left: 1%;
  padding-left: 1%;
  transform: scaleX(-1);
}

.horse {
  margin: 0px;
  height: 60%;
  width: 25%;
}

.home-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  border-collapse: separate;
}

.table-title {
  font-family: "Playfair Display", serif;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(255, 215, 0, 1);
}

#toprent-table {
  width: 80%;
  font-family: "Cinzel", serif;
  font-size: 3em;
  font-weight: bold;
}

#toprent-table tr {
  display: flex;
  width: 90%;
  margin-left: 5%;
  align-items: center;
  background-color: goldenrod;
  border-radius: 10px;
}

#toprent-table td {
  display: flex;
  justify-content: space-between;
  padding: 0% 2% 0%;
}

.toprent-dialog p {
  color: gold;
  background-color: black;
}

.toprent-dialog {
  padding-top: 10px;
  background-color: black;
}

.topactor-dialog-title {
  background-color: gold;
}

.topactor-dialog {
  padding-top: 10px;
  background-color: black;
}

.topactor-dialog p,
li,
h3 {
  color: gold;
}

#reel-pic {
  max-width: 8%;
  max-height: 8%;
}

#topactor-table {
  width: 80%;
  font-family: "Cinzel", serif;
  font-size: 3em;
  font-weight: bold;
}

#mask-pic {
  width: 10%;
  height: 90%;
}

#topactor-table tr {
  display: flex;
  border-radius: 10px;
  width: 90%;
  justify-content: flex-start;
  margin: 8px 5% 8px;
}

#topactor-table td {
  display: flex;
  color: black;
  margin-left: 5%;
  justify-content: space-between;
  margin: 4px 2% 4px;
}

#store-actor-table {
  width: 100%;
  font-family: "Cinzel", serif;
  font-size: 3em;
  font-weight: bold;
  color: gold;
}

.store-paper {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.film-textfield .MuiInputLabel-root {
  color: gold;
}

.film-textfield
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: gold;
}

.film-textfield .MuiInputLabel-root.Mui-focused {
  color: gold;
}

.film-modal {
  background-color: black;
}

.film-modal p {
  background-color: black;
  color: gold;
  margin-top: 4px;
  margin-bottom: 4px;
}

.film-modal h5 {
  background-color: black;
  color: gold;
  margin-top: 16px;
  margin-bottom: 8px;
}

.film-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.film-body {
  font-family: "Cinzel", serif;
  font-size: 2em;
  font-weight: bold;
  align-self: start;
  margin-top: 20px;
  margin-left: 5%;
}

.custom-alert.alert-primary {
  background-color: #032830;
  color: #6edff6;
}

.return-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-right: 68%;
}

.return-label {
  margin: 20px 20px;
}

.custom-offcanvas.offcanvas {
  background-color: slategray;
  color: gold;
  padding: 20px;
}

.customer-second-division {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
}

.filter-supercontainer {
  width: 50%;
}

.rentlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12%;
}

.rent-list {
  background-color: lightsteelblue;
  border-radius: 10px;
}

.rent-list-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-table-division {
  margin-bottom: 5%;
}

.customer-first-division {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 8%;
}

.customer-list-container {
  width: 55%;
}

.customer-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding-top: 30px;
}

.customer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 16%;
  width: 60%;
}

.custom-delete-alert {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 250px;
}

.custom-delete-alert.alert-danger {
  background-color: #2c0b0e;
  color: #ea868f;
  padding-left: 10%;
}

.rent-out-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 5%;
}

.rent-film-label {
  margin: 2%;
  width: 200px;
}

.new-customer-label {
  margin: 10px 10px;
}
